.dashboard {
    flex: 1;
    padding: 10px;
    width: 100%;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.dashboard-header input {
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    padding: 20px;
    text-align: center;
    margin-top: -10px;
    border-radius: 8px;
    width: 35%;
    height: 110px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
}

.uploadsec p {
    margin-top: 5rem;
    margin-left: -60%;
}

.downloadsec p {
    margin-top: 5rem;
    margin-left: -150%;
}

.uploadchart {
    margin-top: -13%;
    margin-left: -33%;
}

.downloadchart {
    margin-top: -13%;
    margin-left: -80%;
}

.processorcontent p {
    color: darkslategrey;
    font-size: medium;
    font-weight: 500;
    text-align: justify;
}

.processorcontent h3 {
    color: darkslategrey;
    font-size: xx-large;
    font-weight: 500;
    text-align: justify;
}

.memorycontent p {
    color: darkslategrey;
    font-size: medium;
    font-weight: 500;
    text-align: justify;
}

.memorycontent h3 {
    color: darkslategrey;
    font-size: xx-large;
    font-weight: 500;
    text-align: justify;
}

.medium-card {
    flex: 1.5;
}

.small-card {
    flex: 1;
}

.progress-bar {
    width: 80%;
    height: 10px;
    background: #eee;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
}

.progress-fill {
    height: 100%;
    background: #007bff;
    transition: width 0.5s ease-in-out;
}

.progress-filld {
    height: 100%;
    background: orange;
    transition: width 0.5s ease-in-out;
}

.health-links {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.disk-performance,
.links,
.link-types {
    background: white;
    padding: 15px;
    border-radius: 8px;
    flex: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.backlinks {
    margin-top: 10px;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.backlinks table {
    width: 100%;
    border-collapse: collapse;
}

.backlinks th,
.backlinks td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.disk-performance h3 {
    color: darkslategrey;
    font-size: medium;
    font-weight: 500;
    text-align: justify;
}

.systemspecification h3 {
    color: darkslategrey;
    font-size: medium;
    font-weight: 500;
    text-align: center;
}

.windowspecification h3 {
    color: darkslategrey;
    font-size: medium;
    font-weight: 500;
    text-align: center;
}

.backlinks h3 {
    color: darkslategrey;
    font-size: medium;
    font-weight: 500;
    text-align: justify;
}

.disk-performance select {
    position: relative;
    z-index: 10;
}

.tableHt {
    max-height: 100%;
}




.report-section-D2 {
    width: 31.2rem;
    margin-left: -9px;
    height: 14rem;
    background-color: #ffff;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}


.report-section-d2 {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    flex-wrap: wrap;
}


.report-section-D2-info {
    display: flex;
    flex-wrap: wrap;
}

.report-section-D2-info1 {
    display: flex;
    margin-top: -2rem;
}

.report-section-D2-info2 {
    display: flex;
    margin-top: 1rem;
}

.report-section-D2-info1 img {
    max-width: 20%;
    margin-left: 40%;
}

.report-section-D2-info2 img {
    max-width: 20%;
    margin-left: 40%;
}

.report-section-d2-content {
    display: grid;
    /* gap: 0.2rem; */
    text-align: center;
    /* flex-wrap: wrap; */
}

.report-section-d2-para {
    font-size: xx-small;
    color: #808080;
}

.Filter-popup-overlay {
    align-items: center;
    background: #00000080;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.Filter-popup-content {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px #0003;
    max-width: 90%;
    padding: 20px;
    position: relative;
    text-align: center;
    width: 350px;
}

.close-Filter {
    cursor: pointer;
    left: 20rem;
    position: absolute;
    transition: all .3s ease-in-out;
}

.Filter-popup-content h2 {
    font-size: 22px;
    margin-bottom: 15px;
}

.filter-container {
    margin-bottom: 20px;
}

.status-filter {
    text-align: left;
}

.status-dropdown {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
}

.button-group {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.Filter-close {
    background: #f44336;
    color: #fff;
}

.Filter-close,
.apply-btn {
    align-items: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex: 1 1;
    font-weight: 700;
    justify-content: center;
    padding: 10px;
}

.apply-btn {
    background: #4caf50;
    color: #fff;
}