.submit_titleb {
  font-size: 18px;
  display: inline-block;
  font-weight: bold;
  color: #263238;
  box-sizing: border-box;
  letter-spacing: 2px;
  position: relative;
}

.submit_titleb::after {
  content: 'Submitting....';
  position: absolute;
  left: 0;
  top: 0;
  color: #6678f3;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  animation: animloader 6s linear infinite;
}

@keyframes animloader {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}