.endpoint-container {
    display: flex;
    gap: 10px;
    margin-top: -3%;
    /* margin-left: -3%; */
}

.endpointlist {
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 5px;
}

.endpointlist h3 {
    margin: 1px;
}

.endpointinfo {
    align-items: center;
    width: 50%;
    overflow-y: scroll;
    height: 511px;
}


.endpointinfosec1 {
    display: flex;
    align-items: center;
    padding: 1px;
    font-size: small;
    margin-top: -5%;
    gap: 5px;
}

.endpointinfosec1 i {
    font-size: xx-large;
}

.endponintaction-btn {
    justify-content: left;
    margin-top: 2%;
    margin-bottom: 1.5rem;
    gap: 6px;
}

.endponintaction-btn button {
    width: 45%;
    color: #ffff;
    background-color: #2563EB;
    justify-content: center;
    font-size: 10px;
    border: 1px solid #2563EB;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.disk-progress-bars {
    justify-content: center;
    font-size: small;
}

.disk-progress-bar {
    width: 100%;
    margin-top: .5rem;
}

.progress-containerInfo {
    background-color: #e5e7eb;
    border-radius: 10px;
    height: 1rem;
    overflow: hidden;
}

.progress-barInfo {
    background-color: #3b82f6;
    height: 100%;
    transition: width 0.3s ease-in-out;
}

.systemprofile {
    justify-content: flex-start;
    font-size: 13px;
    margin-top: .5rem;
    padding: 1px;
}

.networkinfo {
    display: flex;
    justify-content: space-between;
    font-size: small;
}

.endpointsv {
    gap: 17rem;
}