.Endpoint-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.Endpoint-popup {
    background: white;
    border-radius: 8px;
    margin-top: 4%;
    margin-left: 6%;
    width: 100%;
    max-width: 1200px;
    padding: 25px;
    max-height: 88%;
    overflow-y: auto;
    position: relative;
}

.close-btnnn {
    color: #000;
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.close-btnnn:hover {
    color: #fff;
    border-radius: 50%;
    background-color: red;
}

.Endpoint-header {
    text-align: center;
    font-weight: bold;
    color: #fff;
}

.EndpointInfo-section {
    margin-top: 1rem;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
    gap: 20px;
    /* align-items: flex-start; */
}

.Endpoint-box {
    background: #f9f9f9;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.device-info p {
    /* margin: 3px 0; */
    text-align: left;
}

.Endpoint-chart-box {
    position: relative;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 1px 5px 8px #ccc;
    cursor: pointer;
    font-size: small;
    height: auto;
    margin: 0;
    padding: 10px;
    transition: transform .3s ease-in-out;
    width: auto;
    text-align: center;
}

.device-info {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 1px 5px 8px #ccc;
    cursor: pointer;
    font-size: x-small;
    /* height: auto; */
    margin: 0;
    padding: 10px;
    transition: transform .3s ease-in-out;
    /* width: 39%; */
}

.device-info h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    align-items: center;
    background-color: #dcdcdc;
    display: flex;
    justify-content: center;
}

/* .ServerInfo-section div:hover{
    transform: scale(1.1);
} */

.Endpoint-Loading-popup {
    background: white;
    border-radius: 8px;
    width: 80%;
    max-width: 1200px;
    padding: 25px;
    /* max-height: 95%; */
    overflow-y: auto;
    position: relative;
    transform: translate(0, 10%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    text-align: center;
}

.serverLoader-popup-overlay {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.Endpoint-popup.resizable-popup {
    background: white;
    border-radius: 8px;
    padding: 20px;
    overflow-y: auto;
    height: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

.Endpoint-popup-drag-handle {
    background: #007bff;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Endpoint-procs-bar canvas {
    display: unset !important;
    align-self: center;
    max-width: 200px;
    max-height: 200px;
}

.Endpoint-mem-bar canvas {
    display: unset !important;
    align-self: center;
    max-width: 200px;
    max-height: 200px;
}

.Endpoint-disk-bar canvas {
    height: auto !important;
}

.Endpoint-disk-bar {
    width: auto !important;
}

.Endpoint-ntwk-bar .recharts-wrapper {
    position: relative;
    left: 60%;
    transform: translateX(-50%);
    height: 239px !important;
}

.Endpoint-ntwk-bar svg {
    display: unset !important;
    align-self: center;
    max-width: 250px;
    max-height: 250px;
}


.Endpoint-nterk-infocc {
    position: absolute;
    margin-top: -8rem;
    margin-left: -6rem;
    text-align: center;
}

.Endpoint-nterk-infocc label {
    display: flex;
    color: cadetblue;
    font-size: medium;
}

.Endpoint-nterk-infocc1 label {
    display: flex;
    color: cadetblue;
    font-size: medium;
}

.Endpoint-nterk-infocc1 {
    position: absolute;
    margin-top: -8rem;
    margin-left: 2rem;
    text-align: center;
}

.Endpoint-procs-infocc {
    margin-left: -7.5rem;
    margin-top: 6rem;
    position: absolute;
    text-align: center;
}

.Endpoint-procs-infocc {
    color: #8b008b;
}

.Endpoint-procs-infocc label {
    color: #5f9ea0;
    display: flex;
    font-size: medium;
}

.Endpoint-procs-infocc11 {
    margin-left: -16rem;
    margin-top: 5rem;
    position: absolute;
}

.Endpoint-procs-infocc11 label {
    color: #5f9ea0;
    display: flex;
    font-size: medium;
}

.Endpoint-procs-infocc11 p {
    color: #8b008b;
    font-size: xx-large;
    margin-left: 30%;
}

.Endpoint-procs-infocc12 {
    margin-left: 0rem;
    margin-top: 5rem;
    position: absolute;
}

.Endpoint-procs-infocc12 label {
    color: #5f9ea0;
    display: flex;
    font-size: medium;
}

.Endpoint-procs-infocc12 p {
    color: #8b008b;
    font-size: xx-large;
    margin-left: 30%;
}

.memoryinfocc {
    margin-left: 7.7rem;
    margin-top: -12rem;
    position: absolute;
    text-align: center;
}

.memoryinfocc label {
    color: #5f9ea0;
    font-size: x-large;
}


.Endpoint-memo-infocc {
    margin-left: -7.5rem;
    margin-top: 6rem;
    position: absolute;
    text-align: center;
}

.Endpoint-memo-infocc {
    color: #8b008b;
}

.Endpoint-memo-infocc label {
    color: #5f9ea0;
    display: flex;
    font-size: medium;
}

.Endpoint-memo-infocc11 {
    margin-left: -16rem;
    margin-top: 5rem;
    position: absolute;
}

.Endpoint-memo-infocc11 label {
    color: #5f9ea0;
    display: flex;
    font-size: medium;
}

.Endpoint-memo-infocc11 p {
    color: #8b008b;
    font-size: larger;
    margin-left: -18%;
}

.Endpoint-memo-infocc12 {
    margin-left: 0rem;
    margin-top: 5rem;
    position: absolute;
}

.Endpoint-memo-infocc12 label {
    color: #5f9ea0;
    display: flex;
    font-size: medium;
}

.Endpoint-memo-infocc12 p {
    color: #8b008b;
    font-size: larger;
    margin-left: -15%;
}